.truntruncate {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.truntruncatedetail {
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

